<nav class="navbar w-100" style="background-color: rgb(255, 210, 125); position: fixed; top: 0px; z-index: 100;">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand d-flex justify-content-center align-items-center">
        <img 
        src="https://i.postimg.cc/HLrbxNWw/Screenshot-2024-07-19-220337-removebg-preview.png" 
        alt="Logo" width="60px" height="50px" class="d-inline-block align-text-top">
        <h2 class=" mb-0">Recipee</h2>
      </a>
    </div>
  </nav>
