.main{
    background-color: #fafafa;
    min-height: 613px;
}

.banner{
  background-image: url('https://i.postimg.cc/cC6xVrNP/pexels-fidel-hajj-2814828.jpg');
  background-position:right;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 448px;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5); /* Adjust the rgba values to control the shade */
}

.in{
    background-color: rgb(213, 213, 213);
    width: 75%;
}

.in input{
    border: none; 
    background-color: rgb(213, 213, 213);
    width:100%;
}

.in input:focus{
    border: none;
    outline: none;
}


.flip-card {
    background-color: transparent;
    width: 280px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border: 1px solid coral; */
    border-radius: 1rem;
  }
  
  /* .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
  } */
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 244, 210) 30%, rgb(228, 205, 137) 88%,
       rgb(55, 30, 0) 40%, rgb(236, 192, 0) 78%);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }

